<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>유투브 다운로드</title>
</head>

<body>
<form action="/search" method="post">
<input type="text" name="videoName" class="video-function" placeholder="검색할 동영상">
<input type="submit" value="검색">
</form>

<form action="/down" method="post">
<div name="beforeDownload"></div>
<input type="submit" name="videoDownload" class="video-function" value="다운">
</form>

<script type="text/javascript">
</script>
</body>
</html>